<html>

<head></head>

<body>

<h2>500 Internal Server Error</h2>
<p>Usually happens on programming errors or if the server is overloaded. A terribly good idea is to have a nice page there, because your application will fail sooner or later 
</p>


</body>