<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Charts.js</title>

  {% load static %}
  {% load compress %}
  

{% compress css file base %}
<link rel="stylesheet" href="{% static 'dmlmain/css/vendor/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'dmlmain/css/vendor/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'dmlmain/css/dmlmain.scss' %}" />
{% endcompress %}

{% compress js file base %}
<script src="{% static 'dmlmain/js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dmlmain/js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dmlmain/js/homepage.js' %}"></script> 
{% endcompress %}

{% compress js file research %}<!--sekazai??-->{% endcompress %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>


  </head>

  <body>

    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>

  </body>
</html>
