arrow==0.10.0
asgiref==1.1.2
asn1crypto==0.22.0
attrs==17.2.0
autobahn==17.9.2
Automat==0.6.0
blessed==1.14.2
boto==2.48.0
boto3==1.4.7
botocore==1.7.13
certifi==2017.7.27.1
cffi==1.11.0
channels==1.1.8
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.0.0
colorama==0.3.9
constantly==15.1.0
cryptography==2.0.3
daphne==1.3.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.7
django-allauth==0.33.0
django-appconf==1.0.2
django-chartjs==1.2
django-classy-tags==0.8.0
django-compressor==2.2
django-controlcenter==0.2.3
django-cookie-law==1.0.13
django-crispy-forms==1.6.1
django-dotenv==1.4.1
django-embed-video==1.1.2
django-extensions==1.9.1
django-ipware==1.1.6
django-markdown-deux==1.0.5
django-pagedown==0.1.3
django-picklefield==1.0.0
django-pkgconf==0.3.0
django-q==0.8.0
django-registration-redux==1.7
django-sitetree==1.8.0
django-storages==1.6.5
django-taggit==0.22.1
django-user-agents==0.3.2
django-whoshere==0.1.6.2
djangorestframework==3.6.4
docutils==0.14
future==0.16.0
geoip2==2.6.0
gunicorn==19.7.1
h2==3.0.1
hpack==3.0.0
html5lib==1.0b10
httplib2==0.10.3
hyperframe==5.1.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jmespath==0.9.3
markdown2==2.3.4
maxminddb==1.3.0
oauthlib==2.0.4
olefile==0.44
Pillow==4.2.1
portend==2.1.2
priority==1.3.0
psycopg2==2.7.3.1
py==1.4.34
pyasn1==0.3.6
pyasn1-modules==0.1.4
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.3.0
PyPDF2==1.26.0
pypiwin32==219
pyreadline==2.1
PySocks==1.6.7
pytest==3.2.2
pytest-django==3.1.2
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
pywhatsapp==0.0.7
rcssmin==1.0.6
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
s3transfer==0.1.11
service-identity==17.0.0
six==1.11.0
sorl-thumbnail==12.3
tempora==1.9
twilio==6.6.3
Twisted==17.5.0
txaio==2.8.2
ua-parser==0.7.3
urllib3==1.22
user-agents==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==3.3.0
xhtml2pdf==0.2b1
yowsup2==2.5.0
zope.interface==4.4.2
