aioredis==1.3.1; python_version >= "3.6"
ansicon==1.89.0; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "2.7" and platform_system == "Windows"
arabic-reshaper==2.1.3
arrow==1.1.1; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "3.6"
asgiref==3.4.1; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
autobahn==21.3.1; python_version >= "3.7"
automat==20.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
blessed==1.18.1; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "2.7"
boto3==1.18.38; python_version >= "3.6"
botocore==1.21.38; python_version >= "3.6"
brotli==1.0.9; python_version >= "3.5" and python_version < "4"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.14.6; python_version >= "3.6"
channels-redis==3.3.0; python_version >= "3.6"
channels==3.0.4; python_version >= "3.6"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3"
cheroot==8.5.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
cherrypy==18.6.1; python_version >= "3.5"
constantly==15.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
cryptography==3.4.8
daphne==3.0.2; python_version >= "3.6"
defusedxml==0.7.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
dj-database-url==0.5.0
django-allauth==0.45.0
django-appconf==1.0.4
django-chartjs==2.2.1
django-classy-tags==2.0.0
django-compressor==2.4.1
django-controlcenter==0.3.0
django-cookie-law==2.1.0
django-crispy-forms==1.12.0; python_version >= "3.6"
django-dotenv==1.4.2
django-embed-video==1.4.0
django-emoji-picker==0.0.6
django-extensions==3.1.3; python_version >= "3.6"
django-jinja==2.9.1; python_version >= "3.6"
django-libsass==0.9
django-markdown-deux==1.0.5
django-pagedown==2.2.1
django-picklefield==3.0.1; python_version >= "3"
django-pipeline==2.0.6
django-pkgconf==0.4.0
django-q==1.3.9; python_full_version >= "3.6.2" and python_version < "4"
django-redis==5.0.0; python_version >= "3.6"
django-registration-redux==2.9
django-sitetree==1.17.0
django-storages==1.11.1; python_version >= "3.5"
django-stubs==1.5.0; python_version >= "3.6"
django-taggit==1.5.1; python_version >= "3.6"
django-user-agents==0.4.0
django-webpack-loader==1.3.0
django==3.1.13; python_version >= "3.6"
djangorestframework-stubs==1.2.0
djangorestframework==3.12.4; python_version >= "3.5"
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gunicorn==20.1.0; python_version >= "3.5"
h2==3.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
hiredis==2.0.0; python_version >= "3.6"
hpack==3.0.0; python_full_version >= "3.6.7" and python_version >= "3.6"
html5lib==1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
hyperframe==5.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
hyperlink==21.0.0; python_full_version >= "3.6.7" and python_version >= "3.6" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
idna==3.2; python_full_version >= "3.6.7" and python_version >= "3.6" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5")
incremental==21.3.0; python_full_version >= "3.6.7" and python_version >= "3.6"
jaraco.classes==3.2.1; python_version >= "3.6"
jaraco.collections==3.4.0; python_version >= "3.6"
jaraco.functools==3.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
jaraco.text==3.5.1; python_version >= "3.6"
jinja2==3.0.1; python_version >= "3.6"
jinxed==1.1.0; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "2.7" and platform_system == "Windows"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
libsass==0.21.0
markdown2==2.4.1; python_version >= "3.5" and python_version < "4"
markupsafe==2.0.1; python_version >= "3.6"
more-itertools==8.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
msgpack==1.0.2; python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.6"
mypy==0.770; python_version >= "3.5"
oauthlib==3.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pillow==8.3.2; python_version >= "3.6" and python_version < "4"
portend==2.7.1; python_version >= "3.6"
priority==1.3.0; python_full_version >= "3.6.7" and python_version >= "3.6"
psycopg2==2.9.1; python_version >= "3.6"
pyasn1-modules==0.2.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pyasn1==0.4.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pyjwt==2.1.0; python_version >= "3.6"
pyopenssl==20.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pypdf2==1.26.0
pytest-runner==5.3.1; python_version >= "3.6"
python-bidi==0.4.2
python-dateutil==2.8.2; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "4"
python3-openid==3.2.0
pytz==2021.1; python_version >= "3.6"
pywin32==301; sys_platform == "win32" and implementation_name == "cpython" and python_version < "3.10" and python_version >= "3.5"
rcssmin==1.0.6
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
reportlab==3.6.1; python_version >= "3.6" and python_version < "4"
requests-oauthlib==1.3.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
requests==2.26.0; python_version >= "3.0" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.0"
rjsmin==1.1.0
s3transfer==0.5.0; python_version >= "3.6"
service-identity==21.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.7" and python_version < "4" and python_version >= "3.6" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0") and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
sorl-thumbnail==12.7.0; python_version >= "3.4"
sqlparse==0.4.1; python_version >= "3.6"
tempora==4.1.1; python_version >= "3.6"
twilio==6.50.1
twisted-iocpsupport==1.0.2; platform_system == "Windows" and python_full_version >= "3.6.7" and python_version >= "3.6"
twisted==22.4.0; python_full_version >= "3.6.7"
txaio==21.2.1; python_version >= "3.7"
typed-ast==1.4.3; python_version >= "3.6"
typing-extensions==3.10.0.2; python_full_version >= "3.6.7" and python_version >= "3.6" and python_version < "3.8"
ua-parser==0.10.0
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
user-agents==2.2.0
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "2.7"
webencodings==0.5.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
xhtml2pdf==0.2.5
zc.lockfile==2.0; python_version >= "3.5"
zope.interface==5.4.0; python_full_version >= "3.6.7" and python_version >= "3.6"
