arrow==0.10.0
blessed==1.14.2
boto==2.48.0
boto3==1.4.5
botocore==1.5.92
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.5
django-allauth==0.32.0
django-appconf==1.0.2
django-chartjs==1.2
django-classy-tags==0.8.0
django-compressor==2.2
django-controlcenter==0.2.3
django-cookie-law==1.0.13
django-crispy-forms==1.6.1
django-dotenv==1.4.1
django-embed-video==1.1.2
django-extensions==1.9.0
django-libsass==0.7
django-markdown-deux==1.0.5
django-pagedown==0.1.3
django-picklefield==1.0.0
django-pkgconf==0.3.0
django-q==0.8.0
django-registration-redux==1.7
django-sites==0.9
django-sitetree==1.8.0
django-storages==1.6.3
django-taggit==0.22.1
django-user-agents==0.3.2
djangorestframework==3.6.3
docutils==0.13.1
first==2.0.1
future==0.16.0
gunicorn==19.7.1
html5==0.0.9
html5lib==1.0b10
httplib2==0.10.3
idna==2.5
jmespath==0.9.3
libsass==0.13.2
markdown2==2.3.4
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.1
pip-tools==1.9.0
protobuf==3.4.0
psutil==5.3.0
psycopg2==2.7.3
py==1.4.34
pycrypto==2.6.1
PyJWT==1.5.2
PyPDF2==1.26.0
pyreadline==2.1
PySocks==1.6.7
pytest==3.2.1
pytest-django==3.1.2
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
pywhatsapp==0.0.7
rcssmin==1.0.6
reportlab==3.4.0
requests==2.18.2
requests-oauthlib==0.8.0
rjsmin==1.0.12
s3transfer==0.1.10
six==1.10.0
sorl-thumbnail==12.3
twilio==6.6.1
ua-parser==0.7.3
urllib3==1.22
user-agents==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==3.3.0
xhtml2pdf==0.2b1
yowsup2==2.5.0
