footer {
    background-color: darkorange;
    margin-top: 150;
    margin-bottom: 0;
    padding: 5px 20px 5px 40px;
}

body {
    background-color: white;
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    color: darkblue;
	font-size: 32px;
	font-family: 'Arial';
}

h1 a {
    color: blue;
	font-size: 32px;
	font-family: 'Arial';
}

h1 a:visited {
        color: darkblue;
	font-size: 32px;
	font-family: 'Arial';
}


.page-header {
    background-color: darkorange;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Arial', cursive;
}

.date {
    color: grey;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.tags {
	font-size: 12pt;
	color: grey;
	white-space: nowrap;
	overflow:hidden;
	
}

.comment {
    margin: 20px 0px 20px 20px;
}



.glyphicon.glyphicon-envelope {
    font-size: 50px;
}
.glyphicon.glyphicon-phone {
    font-size: 50px;
}
