<html>

<head>
{% load staticfiles%}

<title>DMLblog</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/dmlblog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
		<a href="{% url 'django_admin_page' %}" class="top-menu"><span class="glyphicon glyphicon-cog"></span></a>
		<p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
	{% else %}
		<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
	{% endif %}
		<a href="{% url 'contact_admins' %}" class="top-menu"><span class="glyphicon glyphicon-phone-alt"></span></a>
        
		<h1>DML <a href="/">Blog</a> / <a href="/polls">Polls</a> </h1>
		</div>
    
	<div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
	</div>
</body>


<footer>
	<p>Contact information: <a href="mailto:yobmod@gmail.com">yobmod@gmail.com</a>.</p>
</footer>

</html>
