{% extends 'dmlmain/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load humanize %}
{% block head_extra %} {{ form.media }} {% endblock head_extra%}


{% block content %}
<link rel="stylesheet" href="{% static 'dmlcomments/dmlcomments.css' %}"/>

<h1>{{ question.question_text }}</h1>
<h2><small>{{question.author}} - {{question.pub_date|naturaltime}}</small></h2>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'dmlpolls:poll_vote' question.id %}" method="post">{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="vote" class="btn btn-default" />
</form>


<div class="btn btn-default" id="commentShowButton">Add comment</div>

<div id="commentShow">
<h3>Add comment:</h3>
<form action="." method="POST" class="post-form"> {% csrf_token %}
	{{form|crispy}}
	<button type="submit" class="save btn btn-default">Submit</button>
</form>
</div>

{% for comment in comments %}
{% if user.is_authenticated or comment.approved_comment %}
 <div class="comment">
	 {{ comment.author }}
		 <div class="date">
	 {{ comment.created_date|naturaltime}}
{% elif not comment.approved_comment %}
	 <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		 <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
{% endif %}
		 </div>
	 {{ comment.text|markdown }}
 </div>
{% empty %}
 <p>No comments here yet :(
	Login to comment</p>
{% endfor %}

<script type="text/javascript" src="{% static 'dmlcomments/dmlcomments.js' %}" defer></script>

{% endblock %}
