{% extends 'dmlmain/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load humanize %}
{% block head_title %}{{ question.title }} | {{ block.super }}{% endblock head_title %}
{% block head_extra %} {{ form.media }}
<link rel="stylesheet" href="{% static 'css/polls.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlcomments/dmlcomments.css' %}"/>
<script type="text/javascript" src="{% static 'dmlcomments/dmlcomments.js' %}" defer></script>
{% endblock head_extra%}


{% block content %}

<h1>{{ question.question_text }}</h1>
<h2><small>{{question.author}} - {{question.pub_date|naturaltime}}</small></h2>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'dmlpolls:poll_vote' question.id %}" method="post">{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="vote" class="btn btn-default" />
</form>

<br>
<hr>
<br>

<span>{% if comments.count > 0 %}  {{ question.poll_comments.count }} comments in {{comments.count}} thread{% if comments.count > 1 %}s {% endif %}{% endif %}
<div class="btn btn-default" id="commentShowButton">Add comment</div></span>
<div id="commentShow">
	<h3>Add comment:</h3>
		<form action="." method="POST" class="post-form"> {% csrf_token %}
			{{form|crispy}}
			<button type="submit" class="save btn btn-default">Submit</button>
		</form>
</div>

{% for comment in comments %}
<blockquote class="comment">
	{{ comment.text|markdown }}

	<span class='date'>{{ comment.author }} - {{ comment.created_date|naturaltime}}
		 {% if comment.children.count > 0 %} | {{ comment.children.count }} repl{% if comment.children.count > 1 %}ies {% elif comment.children.count == 1 %}y
		 {% endif %} |<a class="replyShowButton" href="#">Show Thread</a><a class="" href="{{ comment.get_absolute_url }}">(Link)</a>{% endif %}{% if request.user == comment.author %}<a class="" href="{{ comment.get_delete_url }}">Delete</a>{% endif %}</span>


	<div class='replyShow'>
	{% for child_comment in comment.children %}
	<blockquote class="reply">
		{{ child_comment.text|markdown }}
		<span><p> by {{ child_comment.author }} - {{ child_comment.created_date|naturaltime}}<p>
		{% if request.user == child_comment.author %}<a class="" href="{{ child_comment.get_delete_url }}">Delete</a>{% endif %}</span>

	</blockquote>
	{% endfor %}
	</div>

	<span><a class="addReplyShowButton">| Reply</a></span>
	<div class='addReplyShow'>
		<form action="." method="POST"> {% csrf_token %}
			{{form|crispy}}
			<input type='hidden' name='parent_id' value="{{ comment.id }}"/>
			<button type="submit" class="save btn btn-default">Submit</button>
		</form>
	</div>

{% if user.is_authenticated or comment.approved_comment %}
{% elif not comment.approved_comment and user.is_staff %}
<a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
<a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>

{% endif %}
</blockquote>
{% empty %}
 	<p>No comments here yet :(  Login to comment</p>
{% endfor %}

{% endblock %}
