{% extends 'dmlmain/base.html' %}

{% block content %}

<div class = "list_search">
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search Polls' value='{{request.GET.q}}'/>
<input type='submit' value='Search' />
</form>
</div>


{% for question in obj_list%}
<div class="post">
    <h1><a href="{% url 'polls:poll_detail' question.id %}">{{ question.question_text }}</a></h1>
  	<div class="date">
	{{poll.author}} - {{poll.pub_date}}
	</div>
</div>
{% endfor %}

{% include "dmlmain/pagination.html" %}

{% endblock %}
