{% extends 'dmlmain/base.html' %}

{% block content %}

<div class = "list_search">
<form method='GET' action='' class="row">
		<div class="input-group col-sm-6 col-sm-offset-6">
			<input class="form-control" type='text' name='q' placeholder='Search Posts' value='{{request.GET.q}}'/>
		<span class="input-group-btn">
			<button class="btn btn-default" type='submit' value='Search'><i class="fa fa-search"></i>&nbsp;</button>
		</span>
	</div>
</form>
</div>


{% for question in obj_list%}
<div class="post">
    <h1><a href="{% url 'polls:poll_detail' question.id %}">{{ question.question_text }}</a></h1>
  	<div class="date">
	{{poll.author}} - {{poll.pub_date}}
	</div>
</div>
{% endfor %}

{% include "dmlmain/pagination.html" %}

{% endblock %}
