{% extends './base.jinja' %}

{% block content %}

<h2>{{ "%s %s"|format("404", "Not Found") }}</h2>
<p>The good old “chap, you made a mistake typing that URL” message. 
So common that even novices to the internet know that 404 means: 
damn, the thing I was looking for is not there. 
It’s a very good idea to make sure there is actually something useful on a 404 page, 
at least a link back to the index.
</p>

<p>Urlifiy:{{ "turn spaces to plus" | urlify_filter() }}
<br>
{{ urlify_tag("so they can be used as urls") }}

<br><br><br><br>
{% now "h:i:s A" as today %}

<p>Date: {% now "d m Y" %} </p>
<p>Time: {{ today }} </p>

{# {% django %}{% enddjango %} #}
<a href="/">Homepage</a>


    <form method='POST' action='' class="post-form">{%csrf_token %}
     {# {{ crispify(form) }}  #}
      <dl>
        <dt>Title:
        <dd><input type='text' size='30' name='title'>
        <dt>Text:
        <dd><textarea name='text' rows='5' cols='40'></textarea>
        <dd><input type='submit' value='Share'>
      </dl>
    </form>



{% endblock %}