{% extends './base.jinja' %}

{% block content %}

<h2>404 Not Found</h2>
<p>The good old “chap, you made a mistake typing that URL” message. 
So common that even novices to the internet know that 404 means: 
damn, the thing I was looking for is not there. 
It’s a very good idea to make sure there is actually something useful on a 404 page, 
at least a link back to the index.
</p>

{% endblock %}