{% extends 'dmlmain/base.html' %}
{% load crispy_forms_tags %}
{% block head_extra %} {{ form.media }} {% endblock head_extra%}

{% block content %}
    <h1>New post</h1>
    <form method="POST" enctype='multipart/form-data' class="post-form">{% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="save btn btn-default">Save</button>

    </form>
{% endblock %}

{% for post in posts %}
		<div class="post">
			<p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
		</div>
	{% endfor %}
