{% extends 'dmlmain/base.html' %}
{% block content %}

<div class = "list_search">
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search Posts' value='{{request.GET.q}}'/>
<input type='submit' value='Search' />
</form>
</div>

{% for post in obj_list %}
{% if post.draft is False and post.published_date %}
	<div class="post">
			<h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

			<div class="date">
            		<span>{{ post.published_date }} - {{ post.author }}</span>
			</div>

					<p>{{ post.text|linebreaksbr }}</p>

				{% if post.image %}
						<div class = "thumbdiv">
						<a href="{% url 'blog:post_detail' pk=post.pk %}"><img src="{{ post.image.url }}" class ='img-responsive thumb' /></a>
						</div>
				{% endif %}

					<span class="tags"><p># {% for tag in post.tags.all %}{{ tag }}</p>{% endfor %}</span>
					<a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
	</div>
	{% endif %}
{% endfor %}

{% include "dmlmain/pagination.html" %}

{% endblock %}
