{% extends 'dmlmain/base.html' %}
{% load markdown_deux_tags %}

{% block content %}

{% if user.is_authenticated %}
			{% for post in drafts %}

				<div class="post">
				<p class="date"><span style="color:red;">Draft</span> created: {{ post.created_date|date:'d-m-Y' }}</p>
				<h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
				<a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-save"></span></a>

				<a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a class="btn btn-default" href="{% url 'blog:draft_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

			</p>	{{ post.text|markdown|truncatewords:50 }}
				</div>
			{% empty %}
					<h1>No drafts awaiting publication</h1>
					<h1>Click here to author a new post:&nbsp;&nbsp;<a href="{% url 'blog:post_new' %}"><span class="glyphicon glyphicon-edit"></span></a></h1>
			{% endfor %}
{% endif %}

<script>
	$(document).ready(function(){
		$(".post img").addClass("img-responsive")
	})

	</script>
	
{% endblock %}
