<html>
    <head>
        <title>DMLblog</title>
    </head>
    <body>
        <div>
            <h1><a href="">DMLBlog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>xxx x x x x xxxx.</p>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>yyyyyyyy y y y yyyyy yyyy.</p>
        </div>
    </body>
</html>