{% extends 'dmlmain/base.html' %}
{% load markdown_deux_tags %}
{% block content %}

<div class = "list_search">
<form method='GET' action='' class="row">
		<div class="input-group col-sm-6 col-sm-offset-6">
			<input class="form-control" type='text' name='q' placeholder='Search Posts' value='{{request.GET.q}}'/>
		<span class="input-group-btn">
			<button class="btn btn-default" type='submit' value='Search'><i class="fa fa-search"></i>&nbsp</button>
		</span>
	</div>
</form>
</div>

{% for post in obj_list %}
{% if post.draft is False and post.published_date %}
	<div class="post">
			<h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

			<div class="date">
            		<span>{{ post.published_date }} - {{ post.author }}</span>
			</div>

					{{ post.text|markdown|truncatewords:50 }}

				{% if post.image %}
						<div class = "thumbdiv">
						<a href="{% url 'blog:post_detail' pk=post.pk %}"><img src="{{ post.image.url }}" class ='img-responsive thumb' /></a>
						</div>
				{% endif %}

					<span class="tags"><p># {% for tag in post.tags.all %}{{ tag }}</p>{% endfor %}</span>
					<a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
	</div>
	{% endif %}
{% endfor %}

<script>
	$(document).ready(function(){
		$(".post img").addClass("img-responsive")
	})
</script>

{% include "dmlmain/pagination.html" %}

{% endblock %}
