



<div id="CookielawBanner">
<script src="{{ static('cookielaw/js/cookielaw.js') }}" type="text/javascript" ></script>
<link rel="stylesheet" href="{{ static('cookielaw/css/cookielaw.css') }}"/>

        <h6>{% trans %} Cookies disclaimer {% endtrans %}</h6>
        <p>
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">I agree</a>
            Our site saves small pieces of text information (cookies) on your device 
            in order to deliver better content and for statistical purposes. You can         
            disable the usage of cookies by changing the settings of your browser. By 
            browsing our website without changing the browser settings you grant us 
            permission to store that information on your device.
        </p>
    </div>
</div>