<html>
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>DMLsite</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load staticfiles %}
{% load sitetree %}
{% load cookielaw_tags %}
{% load compress %}




{% compress css file base%}
<link rel="stylesheet" href="{% static 'dmlmain/css/vendor/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlmain/css/vendor/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlmain/css/dmlmain.scss' %}"/>
{% endcompress %}

{% compress js file base%}
<script src="{% static 'dmlmain/js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dmlmain/js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dmlmain/js/homepage.js' %}" defer></script>
{% endcompress %}

<link rel="icon" href="{% static 'dmlmain/icons/favicon.ico' type="image/x-icon" %}"/>

{% block head_extra %} {% endblock head_extra %}
</head>

<body>

    <div class="header_footer .col-md-12">
    <div class="page-header header_footer">
				<a href="{% url 'contact_admins' %}" class="top-menu" data-toggle="tooltip" title="Contact" data-placement="auto bottom"><span class="glyphicon glyphicon-phone-alt"></span></a>
        {% if user.is_authenticated %}
            	<a href="{% url 'blog:post_new' %}" class="top-menu" data-toggle="tooltip" title="Write post" data-placement="auto bottom"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'polls:add_poll' %}" class="top-menu" data-toggle="tooltip" title="Create Poll" data-placement="auto bottom"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="{% url 'blog:post_draft_list' %}" class="top-menu" data-toggle="tooltip" title="See draft posts" data-placement="auto bottom"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="{% url 'django_admin_page' %}" class="top-menu" data-toggle="tooltip" title="Admin" data-placement="auto bottom"><span class="glyphicon glyphicon-cog"></span></a>
				<p class="top-menu2">Hello {{ user.username }}.<small>(<a href="{% url 'logout' %}?next={{request.path}}">Log out</a>)</small> {% now "SHORT_DATETIME_FORMAT" %}</p>
		{% else %}
			{% if not "/accounts/login" in request.get_full_path %}
				<form class='navbar-form' method='POST' action='{% url "auth_login" %}'> {% csrf_token %}
					<div class='form-group'>
						<input type='text' class='form-control' name='username' placeholder='Username' />
						<input type='text' class='form-control' name='password' placeholder='Password' />
					</div>
					<button type='submit' class='btn btn-default'>Login</button>
			{% endif %}
				<a href="{% url 'login' %}?next={{request.path}}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
				<a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>
		{% endif %}


				<h1><a href="/">DML</a><a href="/blog">Blog</a> / <a href="/polls">Polls</a> </h1>
	</div>
	</div>

	<div class = "sidenav">
		<div class = "col-md-1">
		{% sitetree_menu from "main_tree" include "trunk" %}
		</div>
	</div>

	<br>

{% include "dmlmain/messages.html" %}
	<div class="content container">
        <div class="row">
            <div class="contentcentre col-md-6">

				{% block content %}
				{% endblock %}

            </div>
        </div>
	</div>


<br>
<br>
<br>

</body>


<div class="header_footer">
<footer>
{% cookielaw_banner %}
	<p class="bottom-menu2">Contact information: <a href="mailto:yobmod@gmail.com">yobmod@gmail.com</a>  <i class="fa fa-bolt fa-spin"></i></p>
</footer>
</div>


</html>
