<html>
<head>
{% load staticfiles %}
{% load sitetree %}
{% load cookielaw_tags %}
{% load compress %}

<title>DMLsite</title>
<meta charset="utf-8">

{% compress css %}
<link rel="stylesheet" href="{% static 'dmlmain/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlmain/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlmain/css/bootstrap-theme.min.css' %}"/>
<link rel="stylesheet" href="{% static 'dmlmain/css/dmlmain.css' %}"/>
{% endcompress %}

<script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dmlmain/js/homepage.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


<link rel="shortcut ico" href="{% static 'dmlmain/icons/favicon.ico' type="image/x-icon" %}"/>



</head>

<body>

    <div class="header_footer .col-md-12"/>
    <div class="page-header header_footer"/>
				<a href="{% url 'contact_admins' %}" class="top-menu" data-toggle="tooltip" title="Contact"><span class="glyphicon glyphicon-phone-alt"></span></a>
        {% if user.is_authenticated %}
            	<a href="{% url 'blog:post_new' %}" class="top-menu" data-toggle="tooltip" title="Write post"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{% url 'polls:add_poll' %}" class="top-menu" data-toggle="tooltip" title="Create Poll"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="{% url 'blog:post_draft_list' %}" class="top-menu" data-toggle="tooltip" title="See draft posts"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="{% url 'django_admin_page' %}" class="top-menu" data-toggle="tooltip" title="Admin"><span class="glyphicon glyphicon-cog"></span></a>
				<p class="top-menu2">Hello {{ user.username }}.<small>(<a href="{% url 'logout' %}?next={{request.path}}">Log out</a>)</small> {% now "SHORT_DATETIME_FORMAT" %}</p>
		{% else %}
			{% if not "/accounts/login" in request.get_full_path %}
				<form class='navbar-form' method='POST' action='{% url "auth_login" %}'> {% csrf_token %}
					<div class='form-group'>
						<input type='text' class='form-control' name='username' placeholder='Username' />
						<input type='text' class='form-control' name='password' placeholder='Password' />
					</div>
					<button type='submit' class='btn btn-default'>Login</button>
			{% endif %}
				<a href="{% url 'login' %}?next={{request.path}}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
				<a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>
		{% endif %}


				<h1><a href="/">DML</a><a href="/blog">Blog</a> / <a href="/polls">Polls</a> </h1>
	</div>
	</div>

	<div class = "sidenav">
		<div class = "col-md-1">
		{% sitetree_menu from "main_tree" include "trunk" %}
		</div>
	</div>

	<br>

{% include "dmlmain/messages.html" %}
	<div class="content container">
        <div class="row">
            <div class="col-md-12">

				{% block content %}
				{% endblock %}

            </div>
        </div>
	</div>


<br>
<br>
<br>
<div id="fb-root">
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
</body>


<div class="header_footer">
<footer>
{% cookielaw_banner %}
	<p class="bottom-menu2">Contact information: <a href="mailto:yobmod@gmail.com">yobmod@gmail.com</a>  <i class="fa fa-bolt fa-spin"></i></p>
</footer>
</div>


</html>
