{% extends 'dmlmain/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

	<script type="text/javascript" src="{% static 'dmlmain/js/homepage.js' %}"></script>
	
{% block content %}
	<div>
		<h1>{{text}}</h1>

		<h1>This is the homepage of my site.

		Click <a href="/blog">here</a> for posts

		Click <a href="/polls">here</a> for polls</h1>

	</div>

	{% if not user.is_authenticated %}
	<div>

		<form method='POST' action='' class="post-form">{%csrf_token %}
		{{form|crispy}}
		<input type='submit', value='Sign Up'/>

	</div>
	{% endif %}
	
	</div>

	<div class="fade000">
		<img src= "{% static "dmlmain/images/ghost_icon.png" %}" alt="Ghost!" style="width:210px;height:210px;border:0;"/>
	</div>





{% endblock %}
